.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* border: 3px solid black; */
}
.nav-btns,
button {
  background-color: #d3d3d3;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  background-color: #9b9897;
  color: rgb(7, 1, 1);
  padding: 20px;
  font-size: 24px;
  /* border: 3px solid black; */
}

.navbar {
  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  padding: 10px;
  background-color: #a8a8a8;
  list-style-type: none;
  gap: 20px;
  width: 14vw;
}

.nav-btns {
  display: flex;
  border: 2px solid black;
  justify-content: center;
  padding: 9px;
}

.nav-pic {
  height: 9%;
  width: 100%;
  align-self: center;
  border: 2px solid black;
}

.navbar-spacer {
  flex: 1;
}
